<% layout("boilerplate.ejs") %>
<body>
    <div class="video-container">
        <video autoplay muted id="intro-video">
            <source src="/assests/VID-20250227-WA0015.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <script src="/js/script.js"></script>
</body>